.blue-bg{
    background-color: #00214d;
    color: white;
    background-image: url("/assets/Boat.png");
    // height: 1000px; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    justify-content: center;
    display: block;
}

.centered {
    text-align: center;
}
p {
    font-weight: bold;
    font-size: 1.4em;
}

footer {
    text-align: center;
}

.container {
    justify-content: center;
}

.small-image{
    width: 100px;
}

.xebecRed{
    color: #bf1238;
    font-weight: bold;
    font-size: 1.1em;
}

.bold{
    font-weight: bold;
}
