<head>
  <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Contrail+One" rel="stylesheet">
  <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'>
  <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
</head>


<body>
 
<div class="container">
  <div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
      <a  href="#" routerLink="">
        <img class="img-fluid" src=".\assets\Xebec.png" >
      </a>
    </div>
    <div class="col-lg-1"><p>B"H</p></div>
    
  </div>
</div>
<br>

<div class="wrapper blue-bg">
<div class="container ">
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
      <br><br><br><br>
      <h1>MANUFACTURERS REPRESENTATIVES</h1>
      <br>
      <h2>SERVING OEM’s and DISTRIBUTORS IN THESE MARKETS:</h2>
      <p>*Instrumentation * Automation *Hose and Rubber *Agricultural *Spray Equipment *Lubrication *Pest Control Equipment *Sewer and Drain 
        Serving Customers in Arizona, Colorado, Utah, New Mexico and Clark County, NV
        <br><br>
        What is a Manufacturers Rep:
        <br><br>
        
        For Customers, we are the field factory support you get or should get from your vendors. While we are not direct employees of the manufacturer.  We provide the same direct access to the manufacturer a direct employee would. You deal with the manufacturers customer service on a day to day basis. 
        For Manufacturers, we provide quality professional representation with no fixed costs. You pay only commissions on items sold: No travel expenses, no payroll, no health insurance, no 401k. 
        <br><br>
        Whether you are distributor or OEM looking for product or a manufacturer looking for representation, please contact us, we look forward to speaking with you.
        <br><br>
        Lines represented:<br>
        Coxreels   <a href="http://www.coxreels.com">www.coxreels.com</a>
        </p>
    </div>
    <div class="col-lg-2"></div>

    
  </div>
</div>
</div>
<br>


</body>



<router-outlet></router-outlet>

<footer>


    <div class="container">
      <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
          <p class="footer-small"> 10869 North Scottsdale Road, #103-111, Scottsdale, AZ 85254 ·<br><a href="tel:+16027367058">602-736-7058</a> · <a href="mailto:hman1@cox.net">hman1@cox.net</a> </p>
        </div>
        <div class="col-lg-2"></div>
      </div>
    </div>
</footer>