<head>
  <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Contrail+One" rel="stylesheet">
  <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'>
  <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
</head>


<body>
 
<div class="container">
  <div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
      <a  href="#" routerLink="">
        <img class="img-fluid" src=".\assets\Xebec.png" >
      </a>
    </div>
    <div class="col-lg-1"><p>B"H</p></div>
    
  </div>
</div>
<br>

<div class="wrapper blue-bg">
<div class="container">
  <div class="row">
    <!-- <div class="col-lg-1"></div> -->
    <div class="col-lg-12">
      <br><br>
      <div class="centered">
        <h3 class="italic">Xe·bec</h3>
        <h4 id="regular">/ˈzēbek/ &nbsp;· &nbsp;<span class="italic">noun</span></h4>
        <p>a small three-masted Mediterranean sailing ship with lateen and square sails.</p>
      <br><br><br>
      <h1>MANUFACTURERS REPRESENTATIVES</h1>
      <br>
      <h2>SERVING OEM’s and DISTRIBUTORS IN THESE MARKETS:</h2><br>
      <p>*Instrumentation * Automation *Hose and Rubber *Agricultural *Spray Equipment *Lubrication *Pest Control Equipment *Sewer and Drain *Pneumatic Controls* Pressure Wash *Food and Chemical *Transportation *Utility/Fleet *Agriculture *Military/Government *Marine
        <br><br>Serving Customers in: <br> Arizona, Colorado, Utah, New Mexico and Clark County, NV
        <br><br><br>
        <span class="xebecRed">What is a Manufacturers Rep?</span>
        </p>
      </div>
      <p>
        <br>
        
        We are the field factory support you get or should get from your vendors. While we are not direct employees of the manufacturer, we provide the same direct access to the manufacturer a direct employee would. You deal with the manufacturer’s customer service on a day to day basis. You deal with us as you would a field representative (District Manager or Regional Manager type).  We call on you to show you new products and applications. We help when something does not go properly and help with custom solutions.
        <br><br>
      </p>  
    </div>    
    <div class="col-lg-6">
      <p>
        <span class="xebecRed"> Benefits to the Customer:</span>
        <br><br>
        · Direct access to the manufacturer <br>
        · Local support from the manufacturer
        <br>
        · One company to work with<br> covering several manufacturers
        <br>
        · Liaison between you and the factory
        <br>
        · Field, factory support  <br>
      </p>
    </div>
    <div class="col-lg-6">
      <p>
        
        <span class="xebecRed">Benefits to the Manufacturer:</span>
        <br><br>
        · Quality, local professional <br> representation with no fixed costs<br>
        · Knowledge of market

        <br>
        · Local Market Coverage

        <br>
        · You pay only commissions on items sold

        <br>
        · No travel expenses
        <br>
        · No payroll 
        <br>
        · No health insurance
        <br>
        · No 401k
      </p>
    </div>
    <div class="col-lg-12">
      <p>
        <br><br>
        If you are an <span class="xebecRed">OEM</span> looking for quality products and support, please contact us.<br><br>
If you are a <span class="xebecRed">distributor</span> looking to add a quality product with great support, please contact us.<br><br>
If you are a <span class="xebecRed">manufacturer</span> looking for professional local representation with no fixed costs, please contact us.<br><br><br>

        
        <span class="xebecRed">Lines represented:</span><br><br><br>

        <img class="small-image" src=".\assets\Coxreels_BW.png">  Coxreels is the leader in the manufacturer in hose and cable reels. Reels for all industries and applications are available. Almost all application are already a cataloged item. Nevertheless custom reels are available and encouraged where an application requires a reel not currently cataloged <a href="http://www.coxreels.com">www.coxreels.com</a>
        <br><br>
        <img class="small-image" src=".\assets\ATPLogo.png">  Advanced Technology Products (ATP) is a leading manufacturer of tubing and hose, pneumatic tubing, spiral hose, fitting and safety couplers. They are the industry leader in ergonomically correct designs with added safety features to support assembly and automation applications worldwide. A complete line of NSF 51 and NSF 61 fittings for food and potable water. <a href="https://www.atp4pneumatics.com/">www.atp4pneumatics.com</a>
        <br><br>
        XOCO pressure gauge<br>
Pressure gauges for all application.  Medical, Food Processing, Hydraulics, Pressure Washing Systems, Dental, Pest, Agricultural, Process Systems and more. For OEM’s all gauges can be made with your logo or other custom face as desired.
<br><br>
AIW  <br>   Pneumatic Filters, Regulators Lubricators and Manual and Solenoid valves.<br><br>
General Service products for machine builders, MRO and Distributors

      </p>
    </div>
    <!-- <div class="col-lg-1"></div> -->

    
  </div>
</div>
</div>
<br>


</body>



<router-outlet></router-outlet>

<footer>


    <div class="container">
      <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
          <p class="footer-small"> 10869 North Scottsdale Road, #103-111, Scottsdale, AZ 85254 ·<br><a href="tel:+16027367058">602-736-7058</a> · <a href="mailto:contact@xebecsales.com">contact@xebecsales.com</a> </p>
        </div>
        <div class="col-lg-2"></div>
      </div>
    </div>
</footer>